<%- include("../includes/header.ejs", {title:"Card Search"}); %>

<h1>Owned Card Search</h1>

<% if( err ) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Database Connection Error:
        <br />
        <%= err %>
    </div>
</div>
<% } %>

<nav>
    <ul>
        <li><a href="/"><u>Home</u></a></li>
        <br />
        <li>
            <a href="/have/home">Yu-Gi-Oh!</a>
            <ul style="padding-left: 20px; list-style-type:circle; font-size: x-small">
                <li><a href="/have/all">View Owned Cards</a></li>
                <li><a href="/have/wishlistAll">View Wishlist</a></li>
                <li><a href="/sets/all">View Sets</a></li>
            </ul>
        </li>
    </ul>
</nav>
<article>

    <form action="/have/search" method="get">
        <br />
        Search Cards <input id="have_search" name="have_search" type="text" value="<%=search.have_search%>" />
        <input type="submit" />
    </form>

    <br />


    <% if( err ) { %>
    Database Connection Error
    <% }
    else if( result.length == 0 ) { %>
        <br />
        No cards found
    <% }

    else  { %>

        <b>Showing '<%= search.have_search %>' cards - <%= result.length %> found</b>
        <br />

        <table border="1">
            <tr>
                <th style="padding-left:28px; padding-right:28px">Image</th>
                <th style="padding-left:20px; padding-right:20px">Card Name</th>
                <th style="padding-left:20px; padding-right:20px">Number</th>
                <th style="padding-left:70px; padding-right:65px">Set Name</th>
                <th style="padding-left:5px; padding-right:5px">Amount</th>
                <th style="padding-left:5px; padding-right:5px">Actions</th>
            </tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td> <a href="/have/?Card_ID=<%=result[i].Card_ID%>"><img src="<%= result[i].Image %>" width="100" height="142" /></a> </td>
                <td style="padding-left:6px"><a href="/have/?Card_ID=<%= result[i].Card_ID %>"><%= result[i].Card_Name %></a></td>
                <td style="padding-left:10px"> <%= result[i].Card_Set + '-' + result[i].Card_No %> </td>
                <td style="padding-left:5px; padding-right:5px"> <a href="/sets/?Set_ID=<%=result[i].Set_ID%>"><%= result[i].Set_Name %></a> </td>
                <td style="padding-left:22px; padding-right:22px">
                    <a href="/have/decAmt/?Card_ID=<%=result[i].Card_ID%>">-</a>
                    <b><%= result[i].Amount %></b>
                    <a href="/have/incAmt/?Card_ID=<%=result[i].Card_ID%>">+</a>
                </td>


                <td>
                    <button onclick="event.preventDefault();window.location.href='/have/edit/?Card_ID=<%=result[i].Card_ID%>'">Edit</button>
                    <form action="/have/delete/" style="display:inline;">
                        <input type="hidden" name="Card_ID" id="Card_ID" value="<%= result[i].Card_ID %>" />
                        <input style="padding-top:61px; padding-bottom:61px; padding-right:25px; padding-left:25px;" type="submit" value="X" onclick="clicked(event)"/>
                    </form>

                    <script>
                        function clicked(e)
                        {
                            if(!confirm('Are you sure you want to delete this card?'))e.preventDefault();
                        }
                    </script>

                </td>
            </tr>
            <% } %>
        </table>
    <% } %>
</article>

<br />
<br />
<br />

<%- include("../includes/footer.ejs"); %>